@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Lato", sans-serif;
}
.flower-shop-banner{
    max-width: 1920px;
    max-height: 920px;
    background-color: rgb(252, 237, 241);
}
.flower-shop-banner-container{
     width: 80%;
     height: 100%;
     margin: 0 auto;
     display: flex;
     justify-items: center;
     align-items: center;
     
}
.flower-shop-content-text{
    width: 50%;
    height: 100%;

}
.flower-shop-content-text h1{
    font-size: 4em;
    margin-top: 2%;
}
.flower-shop-content-text p{
    font-size: 1em;
    margin-bottom: 3%;
    
}
button{
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color:rgb(229, 84, 115) ;
}
.flower-shop-content-image{
    width: 50%;
    margin-top: 20px;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.flower-shop-content-image img{
     width: 50%;
    height: 100%;
    object-fit: cover;
}
/* main-section-start*/
.feature-flower-container{
    margin-top: 5%;
    max-width: 1920px;
    border: 2px solid red;
}
.feature-flower-contant{
    margin: 0 auto;
}
.feature-flower-content-text{
    text-align: center;
}
.feature-flower-content-text h2{
    font-size: 2em ;
    margin-top: 10px;
    margin-bottom: 5px;
}
.feature-flower-content-text p{
    font-size: 1em;
    margin-bottom: 3%;
    
}

.feature-flower-images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 80%;
    max-height: 650px;
    border: 2px solid red;
    margin: 0 auto;
}
.feature-flower-images-part1{
    height: 640px;
    width: 480px;
    background-color: rgb(242, 222, 232);
    border-radius: 50% 50% 0% 0%;
    overflow: hidden;
    display: flex;
    justify-items: center;
    align-items: center;
     object-fit: cover;
}
.feature-flower-images-part1 img{
    margin: 0 auto;
    margin-top: 50%;
    object-fit: cover;
    object-position: center;
}

.feature-flower-images-part2{
    height: 640px;
    width: 480px;
    background-color: rgb(218, 240, 241);
    border-radius: 50% 50% 0% 0%;
    overflow: hidden;
    display: flex;
    justify-items: center;
    align-items: center;
}
.feature-flower-images-part2 img{
    margin: 0 auto;
    margin-top: 50%;
    object-fit: cover;
    object-position: center;
}
.feature-flower-images-part3{ 
    height: 640px;    
    width: 480px;
    background-color: rgb(228, 236, 220);
    border-radius: 50% 50% 0% 0%;
    overflow: hidden;
    display: flex;
    justify-items: center;
    align-items: center;
}
.feature-flower-images-part3 img{
    margin: 0 auto;
    margin-top: 50%;
    object-fit: cover;
    object-position: center;
}