@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Lato", sans-serif;
}
.flower-shop-banner{
    max-width: 1920px;
    max-height: 920px;
    background-color: rgb(252, 237, 241);
}
.flower-shop-banner-container{
     width: 80%;
     height: 100%;
     margin: 0 auto;
     display: flex;
     justify-items: center;
     align-items: center;
     
}
.flower-shop-content-text{
    width: 50%;
    height: 100%;

}
.flower-shop-content-text h1{
    font-size: 4em;
    margin-top: 2%;
}
.flower-shop-content-text p{
    font-size: 1em;
    margin-bottom: 3%;
    
}
button{
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color:rgb(229, 84, 115) ;
}
.flower-shop-content-image{
    width: 50%;
    margin-top: 20px;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.flower-shop-content-image img{
     width: 50%;
    height: 100%;
    object-fit: cover;
}
/* main-section-start*/
.feature-flower-container{
    margin-top: 40px;
    max-width: 1920px;
    max-height: 650px;
}
.feature-flower-content-text{
    text-align: center;
}
.feature-flower-content-text h2{
    font-size: 2em ;
    margin-top: 20px;
    margin-bottom: 5px;
}
.feature-flower-content-text p{
    font-size: 1em;
    margin-bottom: 3%;
    
}

.feature-flower-images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    width: 80%;
    margin: 0 auto;
}
.feature-flower-images-part1{
    border-radius: 50% 50% 0% 0%;
    overflow: hidden;
    display: flex;
    justify-items: center;
    align-items: center;
}
.color1{
    background-color: rgb(242, 222, 232);
   
}
.feature-flower-images-part1 img{
    margin: 0 auto;
    object-fit: cover;
    object-position: center;
}

.color2{
    background-color: rgb(218, 240, 241);   
}
.color3{ 
    background-color: rgb(228, 236, 220);
}
/* instragram-flower-section */
.instagram-flower-container{
     margin-top: 40px;
    max-width: 1920px;
    height: 600px;
}
.instagram-flower-content-text{
    text-align: center;
    margin-top: 10px;
}
.instagram-flower-content-text h2{
    font-size: 2em;
    margin-bottom: 10px;
}
.instagram-flower-content-text p{
    font-size: 1rem;
    margin-bottom: 20px;
}
.Instagram-flower-images{
  display: grid;
  grid-template-columns: repeat(4 ,1fr);
  gap: 15px;
  margin: 0 auto;
  width: 80%;
  object-fit: cover;
}
.Instagram-flower-images img{
    width: 100%;
    height: 100%;
  border-radius: 4px 4px 4px 4px ;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;


}
/* input-email-section */
.input-email-section{
    margin-top: 40px;
    max-width: 80%;
    height: 400px;
    margin: 0 auto;
    background-image: url(/images/Rectangle\ 9.png);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-repeat: no-repeat;


}
.input-email-section{
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top:150px;
}
.input-email-section h1{
    font-size: 2em;
    margin-bottom: 18px;
}
.input-email-section p{
    font-size: 1em;
    margin-bottom: 18px;
}
.input-email-type  input{
      border: none;
      color: white;
      width: 400px;
      height: 35px;
}
